# Kopiraj u application-local.properties (gitignored) za lokalni razvoj.
# Na Dokploy-u koristi env varijable iz deploy/env.backend.example

spring.datasource.password=YOUR_POSTGRES_PASSWORD

spring.mail.password=YOUR_MAIL_PASSWORD
